
.findapark-page {
    background-image: url('../images/5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 100px; 
    box-sizing: border-box;
}

#searchInput {
    width: 100%;
    padding: 12px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 10px; 
}

.largeSearchBar {
    font-size: 24px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px; 
}

#suggestions {
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 0px 0px; 
}

.suggestion {
    padding: 10px;
    background: #fff;
    cursor: pointer;
    color: black; 
}

.suggestion:hover {
    background: #f0f0f0;
}

.parkResult {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.parkResult:hover {
    background: #f0f0f0;
}

.parkDetails {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.679); 
    color: white; 
    position: relative; 
}

.parkDetails img {
    max-width: 40%; 
    height: auto;
    max-height: 300px; 
    float: right; 
    margin: 0 0 10px 10px; 
}

.parkDetails h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.parkDetails h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.parkDetails p {
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
}

.parkDetails ul {
    list-style-type: none;
    padding: 0;
    border: none;
}

.parkDetails ul li {
    font-size: 16px;
    margin-bottom: 5px;
    border: none;
}
