
.home-page {
    background-image: url('../images/16.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .black-container {
    background-color: rgba(0, 0, 0, 0.553);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content-area {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .welcome-button {
    background-color: #397843;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .welcome-button:hover {
    background-color: #78cc79aa;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
  }
  
  .widget-area {
    text-align: center;
  }
  