
.navbar {
    background-color: #735d48; 
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100%; 
    top: 0;
    z-index: 10; 
    border: none;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; 
    border: none;
}

.navbar ul li {
    margin-right: 20px;
    border: none;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a, .navbar ul li button {
    color: white;
    text-decoration: none;
    font-weight: normal; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px; 
    font-size: 16px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    display: flex;
    align-items: center; 
    outline: none;
}

.navbar ul li a:hover, .navbar ul li button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 0px; 
    text-decoration: none; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #735d48;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    font-weight: normal; 
    border-radius: 5px; 
    display: flex;
    align-items: center; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #735d48;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px;
}

.dropdown-content a, .dropdown-content button {
    color: white; 
    padding: 10px 15px; 
    text-decoration: none;
    display: block;
    background: none;
    border: none;
    width: calc(100% - 30px); 
    text-align: left;
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    font-weight: normal; 
    cursor: pointer;
}

.dropdown-content a:hover, .dropdown-content button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    text-decoration: none; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.2); 
    text-decoration: none; 
}

.navbar-right {
    margin-left: auto;
}

.logout-message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
}
