
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #b8aca2, #816b58); 
  height: 100vh;
  overflow: hidden;
  font-family: Georgia, serif;
  font-weight: lighter;
}

.home-page {
  background-image: url('images/11.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}


.navbar {
  background-color: #735d48; 
  padding: 5px;
  font-weight: normal;
}

.navbar h1 {
  color: white;
  margin: 0;
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 0; 
  margin: 0; 
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  outline: none; 
}

.navbar ul li a:hover {
  text-decoration: none;
}

.navbar ul li a:focus {
  outline: none; 
}

